
DATABASE_URL=postgresql+asyncpg://gateway:changeme@localhost:5432/llm_gateway

GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxx
OPENROUTER_API_KEY=sk-or-xxxxxxxxxxxxxxxx
NVIDIA_API_KEY=nvapi-xxxxxxxxxxxxxxxx

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAXbcxxxxxxxxxxxxxxxxxxxxxxx

SUPABASE_URL=https://xxx.supabase.co
SUPABASE_ANON_KEY=eyJxxx

DASHBOARD_URL: str = http://localhost:5173